<mat-accordion multi="true" *ngIf="posts.length > 0">
    <mat-expansion-panel *ngFor = "let p of posts">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ p.title }}
        </mat-panel-title>
        <mat-panel-description>
          {{ p.content }}
        </mat-panel-description>
        
      </mat-expansion-panel-header>
      <mat-action-row>
        <button mat-button color="primary">Edit</button>
        <button mat-button (click)="justDelete(p.id)" color="Warn">Delete</button>
      </mat-action-row>
      </mat-expansion-panel>
      </mat-accordion>

<p class="mat-body-2" *ngIf="posts.length <= 0">No posts yet</p>